.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  text-indent: -9999px;
  overflow: hidden;
  background-size: 100%;
}

.covered {
  background-color: black;
  background-image: url("../img/card-back.png");
}

.hand {
  overflow: auto;
}

.game-status {
  visibility: hidden;
}

button {
  margin-top: 20px;
}
.new-game {
  visibility: hidden;
}
